{% extends "layout.html" %}

{% block content %}
 <h3>{{title}} <small> (<a href="/search/?urlTitle={{urlTitle}}">Similar</a>)</small></h3>
 <h4>by <a href="/users/{{author.id}}">{{author.name}}</a></h4>
 <div>{% for tag in tags %} <a href="/search/?tag={{tag}}">#{{tag}}</a>  {% endfor %}</div>
 <hr/>
 <div class="page-body">{{content}}</div>
 <hr/>
 <a href="{{route}}/edit" class="btn btn-primary">edit this page</a>
 <a href="{{route}}/delete" class="btn btn-danger">delete this page</a>
{% endblock %}